*{
    /* background-color: gray; */
}

h1{
    color: greenyellow;
}

h2{
    color: brown;
}

p{
    color: chocolate;
}

.Selector > h1,
.Selector > h2,
.Selector > h3,
.Selector > h4,
.Selector > h5,
.Selector > p{
    color: red;
}

/* .Selector > h1,h2,h3,h4,h5,p{
    color: gray;
} */

#One > h2{
    color: blue;
}